/* CSS Reset  */
*{
    margin: 0px;
    padding: 0px;;
}
html{
    scroll-behavior: smooth;
}
/* CSS variables  */
:root{
    --navbar-height:59px;
}


/* Navigation Bar  */
#navbar{
    display: flex;
    align-items: center;
}

/*Navigation Bar:  Logo and Image  */
#logo{
    margin: 10px 34px;
}
#logo img{
    height: 86px;
    margin: -1px 6px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
}
 /* Navigation Bar: List Styling */
 #navbar{
     position: sticky;
     top: 0;
 }
#navbar ul{
     display: flex;
     font-family:Arial, Helvetica, sans-serif
 }
 
 #navbar ul li{
     
     list-style: none;
     font-size: 1.3rem;
 }
 #navbar ul li a{
      color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
 }
 #navbar ul li a:hover{
    background-color: cyan;
  display: block;

}
/* Home Section  */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 855px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url('../bg.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    z-index: -1;
}
#home h1{
    color:whitesmoke;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#home p{
    color:whitesmoke;
    text-align: center;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Services Section  */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background: #ddcdcd ;

}
#services .box img{
    height: 250px;
    display: block;
    margin: auto;
    width: 100%;
}
#services .box p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Client Section  */
#client-section{
   position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg2.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    
}
#Clients{
    display: flex;
    text-align: center;
    justify-content: center;
}
.clients img{
    width: 50px;
    height: 100px;
    padding: 6px;
}
.client-item{
    padding:34px;
}
/* Utility Classes */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    justify-content: center;
    text-align: center;
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.h-secondary{
    font-size: 2.4rem;
    padding: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    
}
.btn{
    padding: 6px 20px;
    border: 2px solid wheat;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    cursor: pointer;
}
.btn:hover{
    background-color:tomato;
}
/* Contact Section 
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;

}
#contact h1{
    padding: 250px;
}
.form-group input{
    padding: 109px;
    text-align: center;
    justify-content: center;
    width: 50%;

}
footer{
    background: black;
    color: white;
    justify-content: center;
    display: flex;
    font-size: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: -114px;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */
/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../bg2.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}


footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}

.center{
    text-align: center;
}